{% extends 'base.html' %}
{% load mathfilters %}


{% block title %}
    Headlines
{% endblock %}


{% block content %}
{% csrf_token %}

    <div class="jumbotron">
        <center>
            <h1>Today's News</h1>
        </center>
    </div>

    {% if user.is_authenticated %}

        <div class="card-columns">

            {% for headline in headline_list %}
            <div class="card">
                {% if headline.img != '' %}
                    <a href="{{headline.url}}" target="_blank"><img class="card-img-top" src="{{headline.img}}" alt="article image"></a>
                {% endif %}

                <div class="card-body">
                    
                    <div class="card-title"> 
                        <a href="{{headline.url}}" target="_blank"><h5>{{headline.title}}</h5></a>
                    </div>
                    {% if headline.time_ago_str %}
                        <p class="card-text"><small class="text-muted">published {{ headline.time_ago_str }}</small></p>

                    {% elif headline.mins_ago|div:60 < 1.5 %}
                        <p class="card-text"><small class="text-muted">published 1 hour ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago > 60 %}
                        <p class="card-text"><small class="text-muted">published {{ headline.mins_ago | div:60 | floatformat:"0" }} hours ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago == 1 %}
                        <p class="card-text"><small class="text-muted">published 1 min ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago < 60 %}
                        <p class="card-text"><small class="text-muted">published {{ headline.mins_ago }} mins ago</small></p>

                    {% else %}
                        <p class="card-text"><small class="text-muted">published before today</small></p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

        </div>

    {% else %}

        <div class="card-columns">

            {% for headline in preview %}
            <div class="card">
                {% if headline.img != '' %}
                    <a href="{{headline.url}}" target="_blank"><img class="card-img-top" src="{{headline.img}}" alt="article image"></a>
                {% endif %}

                <div class="card-body">
                    
                    <div class="card-title"> 
                        <a href="{{headline.url}}" target="_blank"><h5>{{headline.title}}</h5></a>
                    </div>
                    {% if headline.time_ago_str %}
                        <p class="card-text"><small class="text-muted">published {{ headline.time_ago_str }}</small></p>

                    {% elif headline.mins_ago == 60 %}
                        <p class="card-text"><small class="text-muted">published 1 hour ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago > 60 %}
                        <p class="card-text"><small class="text-muted">published {{ headline.mins_ago|div:"60" | floatformat:"0" }} hours ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago == 1 %}
                        <p class="card-text"><small class="text-muted">published 1 min ago</small></p>

                    {% elif headline.mins_ago < 1440 and headline.mins_ago < 60 %}
                        <p class="card-text"><small class="text-muted">published {{ headline.mins_ago }} mins ago</small></p>

                    {% else %}
                        <p class="card-text"><small class="text-muted">published before today</small></p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="login-for-rest">
            <center>
                <br><br><br><br>
                <h5>To see the rest of these articles, <a href="/login">log in</a> to your Balanced News account.</h5>
                <br>
                <h5>Don't have an account? <a href="/register">Sign up</a> today!</h5>
            </center>
            <br><br><br><br>
        </div>

    {% endif %}

{% endblock %}
